services:
  backend:
    build: ./backend
    container_name: todo-backend
    restart: unless-stopped
    environment:
      - DATABASE_URL=sqlite:////app/data/todo.db
      - SECRET_KEY=${SECRET_KEY}
      - APP_VERSION=${APP_VERSION}
      - UI_VERSION=${UI_VERSION}
      - BACKEND_VERSION=${BACKEND_VERSION}
      - APP_NAME=${APP_NAME}
      - CAMERA1=${CAMERA1}
      - CAMERA2=${CAMERA2}
      - HLS_DIR=${HLS_DIR}
    volumes:
      - ${DB_PATH}:/app/data
    ports:
      - "8000:8000"
  frontend:
    build: ./frontend
    container_name: todo-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://backend:8000

