services:
  backend:
    build: ./backend
    container_name: todo-backend
    restart: unless-stopped
    environment:
      - DATABASE_URL=sqlite:////app/data/todo.db
      - SECRET_KEY=${SECRET_KEY}
    volumes:
      - ${DB_PATH}:/app/data
    ports:
      - "8000:8000"
  frontend:
    build: ./frontend
    container_name: todo-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_VERSION=0.0.1
      - REACT_APP_API_URL=http://backend:8000
