services:
  backend:
    build: ./backend
    container_name: todo-backend
    restart: unless-stopped
    environment:
      - DATABASE_URL=sqlite:////app/data/todo.db
      - SECRET_KEY=HIGHLY_CONFIDENTIAL_KEY
    volumes:
      - todo-db:/app/data
    ports:
      - "8000:8000"
  frontend:
    build: ./frontend
    container_name: todo-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://192.168.0.137:8000

volumes:
  todo-db: